@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
  --bg-color: rgb(26, 24, 51);
  --square-color: rgb(31, 54, 65);
  --x-player-color: rgb(49, 195, 189);
  --x-player-color-lite: rgb(101, 233, 228);
  --o-player-color: rgb(242, 177, 55);
  --o-player-color-lite: rgb(255, 200, 96);
  --neutral-color: rgb(168, 191, 201);
  --neutral-color-lite: rgb(219, 232, 237);
  --main-font: 'Outfit', sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.square {
  width: 140px;
  height: 140px;
  background-color: var(--square-color);
  border-radius: 15px;
  color: var(--neutral-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
